<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Form</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/users">Users</a> </li>
      </ul> 
    </nav>
  </header>
    <div>
      <form action="/" , method="POST">
        <label for="user_name">User Name</label>
        <input type="text" id="user_name" name="user_name"/>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
